:root {

    --bg-primary: #2f3e46;
    --bg-secondary: #1a364e;
    --bg-yel: #ffff1c;


    --text-yel: #ffff1c;
    --text-primary: #ffffff;
    --text-black: #000000;

    --text-yel-som: #9a0d9cde;
    --border-image: #ff09ce;


}

body {
    background-color: var(--bg-primary) !important;
}

/*Barra de navegación*/
.navbar {
    padding: 2rem;
    background-color: var(--bg-primary);
    box-shadow: 0px 1px 4px 1px rgb(28, 28, 27);
}

.navbar-collapse {
    justify-content: flex-end;
}

.icono-nav {
    color: var(--text-yel) !important;
    transition: color 0.3s ease;
}

.navbar li a {
    color: white !important;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 10px;
    transition: color 0.3s ease;

}

.icono-nav:hover {
    color: var(--text-yel-som) !important;

}

.navbar li a:hover {
    color: var(--text-yel) !important;

}

/*Estilo generales */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}


body h1 {
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
    color: rgb(233, 226, 226);
    font-family: 'Rubik Dirt', cursive;
}

.seccion-oscura {
    background-color: var(--bg-primary);
    color: white;
}

.seccion-clara {
    background-color: #1a364e;
    color: black;
}

.seccion-titulo {
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Rubik dirt', cursive;

}

.seccion-descripcion {
    font-size: 1.5rem;
    color: white;

}

.texto-negro {
    color: black;
}

.texto-blanco {
    color: white;
}

strong {

    color: var(--text-yel);
}

.texto-agradeciemiento {
    margin: 3px;
    font-size: 1.1rem;
    padding: 15px 0;
    font-family: normal;
    text-align: center;

}

.btn-info {
    font-size: 1.1rem;
    margin: 50px;
    background: var(--border-image) !important;
    border-color: var(--text-yel-som) !important;
    font-weight: bold;
    font-size: 1rem;
    opacity: 0.8;

}



.btn-info:hover {
    opacity: 1;
    background: var(--bg-yel);
    color: var(--text-primary);
    box-shadow: 1px 1px 6px var(--text-tert);
}

.hr-section {
    height: 2px;
    width: 60%;
    background: linear-gradient(to right, #E6ED07, #FFD700) !important;
    box-shadow: 0 0 20px rgb(255, 255, 255);
}



/*seccion hero*/

.hero {
    min-height: 100vh;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    background-color: var(--bg-primary);

}

/* .hero-img-fondo {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
    opacity: 0.8;
    filter: blur(5px);

} */

.hero-principal {
    padding: 2rem;
}

.hero-img {
    max-width: 25vh;
    height: auto;
    padding: 3px;
    margin: 20px;
    border: solid 2px var(--border-image);
    box-shadow: 16px 14px 20px rgba(9, 9, 9, 0.989);
    border-radius: 5%;
    transition: transform 0.3s ease;
}


.hero-img:hover {
    transform: scale(1.1);

}



.hero .profesiones {
    font-weight: bold !important;
    color: var(--text-yel);
    font-size: normal !important;
    font-family: monospace, cursive;

    font-size: 1.8rem;

}


.div-btn-cv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;

}

.btn-cv {
    text-decoration: none;
    background: var(--bg-yel);
    padding: 10px 30px;
    color: #000;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 10px;
    box-shadow: 1px 1px 6px;
    margin: 20px auto;
    transition: 0.4s;
    display: inline-block;
    text-align: center;
    opacity: 0.7;

}

.btn-cv:hover {
    opacity: 1;
    background: var(--border-image);
    color: var(--text-primary);
    box-shadow: 1px 1px 6px var(--text-tert);
}

/*Sección experiencia*/


.experiencia {
    padding: 40px;
    height: 500px;
}



.experiencia-titulo {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.experiencia i {
    font-size: 2.5rem;
    color: aqua
}

/* seccion habilidades */
.iconos-tecno .col {
    max-width: 150px;
    margin: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px var(--border-image);
}

/* Transición para la imagen en col-tc-ic */
.iconos-tecno .col-tc-ic img {
    transition: transform 0.3s ease-in-out;
    /* Cambia la propiedad 'transform' durante 0.3 segundos con una aceleración y desaceleración suave */
}

/* Estilo por defecto para el texto en text-iconos */
.iconos-tecno .text-iconos {
    transition: color 0.3s ease-in-out;
    /* Cambia el color del texto durante 0.3 segundos con una aceleración y desaceleración suave */
}

/* Estilo para el texto cuando el mouse pasa sobre el contenedor */
.col-tc-ic:hover img {
    transform: scale(1.4);
    /* Hace que la imagen sea un 20% más grande cuando el mouse pasa sobre el contenedor */
}


.img-habilidades {
    float: right;
    width: 50%;
    height: auto;
}


/*proyectos*/


.card-group .card {
    width: 18rem;
    margin-right: 1rem;
    background-color: var(--bg-secondary);
}

.card-group:last-child .card {
    margin-right: 0;
}

.card .proyecto {
    position: relative;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 150px;
}

.card .proyecto .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    transition: opacity 0.3s ease;
    opacity: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.card:hover .overlay {
    opacity: 2;
}

.card .proyecto .overlay p {
    color: white;
    font-size: 1.3rem;
    text-align: center;
    position: absolute;
    font-weight: bold;

}


.card .proyecto .overlay a {
    color: white;
    font-size: 1.2rem;
    position: absolute;
    bottom: 15px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card:hover .overlay a {
    opacity: 1;
}

.card .proyecto .overlay .icono1 {
    left: 30%;

}

.card .proyecto .overlay .icono2 {
    right: 30%;

}

.carousel-control-prev-icon,
.carousel-control-next-icon {

    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

.card-text {
    color: white;
}

.card-iconos-tegno img {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
}

.carousel-control-next,
.carousel-control-prev {
    width: 5% !important;

}

/*Foorer*/
footer {

    background: rgb(91, 13, 103);
    padding: 20px 0;
    color: var(--main-color);
    margin-top: 40px;
}

/*seccion contacto*/
.contacto .container {
    max-width: 1100px;
    min-height: 200px;
    padding: 20px;


}

.contacto .rectangulo {

    background-color: var(--text-yel-som);
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px white;
}

.contacto .row {
    width: 100%;
    display: flex;
    align-items: center;

}

.contacto .seccion-descripcion {
    color: white;
    font-size: 1.2rem;
}

.contacto .button {
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid white;
    padding: 1.25em 2em;
    margin: 10px;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;

}

.contacto button:hover {
    background-color: white;
    color: rgb(91, 13, 103);
}

.contacto button i {
    color: white;
    font-size: 1.3rem;
    transition: all 0.2s ease-in-out;
}

.contacto button:hover i {
    color: rgb(91, 13, 103);
}

/*Footer*/
.footer {
    min-height: 500px;
}

.footer-logo {
    height: 80px;
    width: 80px;
    margin: 10px;

}

.footer-texto {
    font-size: 1.5rem;
    padding: 20px;
    margin: button 30px;
    font-family: 'QuickSand', sans-serif;
}

.iconos-redes-sociales a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.2s ease-in;

}

.iconos-redes-sociales i {
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
    background-color: white;
    border: 2px solid rgb(91, 13, 103);
}

.iconos-redes-sociales a:hover i {
    color: rgb(13, 13, 14);
}

.derechos-de-actor {
    font-size: 15px;
    color: whitesmoke;
    padding: 20px;
}

/*responsive*/

@media screen and (min-width: 400px) {
    .overlay p {
        font-size: 18px;
    }

    .overlay i {
        font-size: 40px;
    }

}

@media screen and (max-width: 768px) {
    .navbar-brand {
        display: none;
    }

}

/* Ajuste para que las tarjetas ocupen todo el ancho en dispositivos más pequeños */
@media (max-width: 768px) {
    .carousel-item .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}